body{
    overflow-y: scroll;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
input::-webkit-search-cancel-button {
    display: none;
  }
 /* header  start */
header{
    width:100%;
    height: 44px;
    background: #E43130;
}
header .bar{
    position: relative;
    width: 100%;
    overflow:hidden;
}
header .bar .menu{
    position: absolute;
    top:0px;
    left:0px;
    display:inline-block;
    width: 40px;
    height: 44px;
    background:url(images/menu.png) no-repeat 0 0;
    background-size:20px 18px;
    margin-top:14px;
    margin-left:15px;
}
header .bar .sh-bx{
    position: relative;
     margin:7px 52px 7px 50px;
     height: 30px;
     background:#F7F7F7;
     border-radius:15px;
}
header .bar .sh-bx .jd{
   
    position: relative;
    position: absolute;
    top:8px;
    left:15px;
    display:inline-block;
    width: 20px;
    height: 15px;
    background:url(images/jd.png) no-repeat 0 0;
    background-size:20px 15px;

}
header .bar .sh-bx .jd::after{
    content:'';
    clear:both;
    display:block;
    position: absolute;
    top:0px;
    left:26px;
    width: 1px;
    height: 16px;
    background:#DDDDDD;

}

/* header .bar .sh-bx .col-line{
    position: absolute;
    top:0px;
    left:40px;
    line-height: 30px;
    display:inline-block;
    color:#DDDDDD;
    width: 1px;
} */
header .bar .sh-bx .sou{
    position: absolute;
    top:8px;
    left:51px;
    display:inline-block;
    width: 14px;
    height: 15px;
    background:url(images/jd-sprites.png) no-repeat -83px 0;
    background-size:200px;
    
}
header .bar .sh-bx .sh-input{
    height: 30px;
    border-radius:15px;
    margin-left:60px;
    background:#F7F7F7;
  overflow:hidden;
}
header .bar .sh-bx .sh-input>input{
    width: 100%;
    height: 100%;
    outline:none;
    border:none;
    font-size:12px;
    background:#F7F7F7;
    padding-left:18px;
    padding-top:1px;
}
header .bar .login{
    position: absolute;
    top:0px;
    right:0px;
    display:inline-block;
    height: 44px;
    margin-right: 12px;
    margin-top:10px;
    color:white;
    font-size:14px;
}
  /* header  end */
  /* slide start */
.banner{
    padding:15px;
    height: 185px;
}
.banner .slide{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius:12px;
    overflow:hidden;
}
.banner .slide .bx{
    width: 800%;
    height: 100px;
    
}
.banner .slide .bx li{
    float:left;
    width: 12.5%;
    height: 100%;
}
.banner .slide .bx li a{
    display:inline-block;
    width: 100%;
    height: 100%;
}
.banner .slide .bx li a>img{
    width: 100%;
    height: 200%;
}
.banner .slide .circles{
    position: absolute;
    bottom:10px;
    left:50%;
    transform:translateX(-88px);
    width: 176px;
    height: 18px;
   
    border-radius:14px;
}
.banner .slide .circles li{
    float:left;
    width: 14px;
    height: 14px;
    background:white;
    border-radius:50%;
    margin:2px 4px;
}
.banner .slide .circles li.active{
    background:red;
}
  /* slide end */
/* bx-wrap start */
.bx-wrap{
    width: 100%;
    height: 30%;
}
.bx-wrap>.img-bx{
    width: 100%;
    height: 100%;
    padding-top:30px;
    padding-bottom:15px;
}
.bx-wrap>.img-bx>li{
    float:left;
    width: 20%;
    height: 100%;
    margin-bottom:20px;
}
.bx-wrap>.img-bx>li>a{
    display:inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color:#666666;
}
.bx-wrap>.img-bx>li>a>h3{
  
}
.bx-wrap>.img-bx>li>a>img{
    width: 100%;
    height: 100%;
}
/*bx-wrap end*/